/* Variables */

:root {
    --primary-color: #06AED5;
    --primary-color-dark: #086788;
    --secondary-color-light: #DEE7E6;
    --body-color: #F9F9F9;
    --grey-light-1: #F2F2F2;
    --grey-light-2: #E9E9E9;
    --grey-dark-1: #e5e5e5;
    --grey-dark-2: #C4C4C4;
}


/* Anim */

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body-color);
}

footer {
    background-color: var(--primary-color-dark);
    height: auto;
}


/* Componentes */

.carousel {
    position: relative;
    height: 45vh;
    overflow: hidden;
}

.carousel__title {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    font-size: 2rem;
    font-weight: 200;
    text-transform: capitalize;
    font-style: normal;
    letter-spacing: .275em;
    z-index: 2;
}

.carousel__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 174, 213, .56);
    z-index: 1;
}

.carousel__album {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel__list {
    display: inline-block;
    list-style: none;
    width: 100%;
    height: 100%;
}

.carousel__item {
    height: 100%;
    display: none;
}

.carousel__fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.carousel__photo {
    width: 100%;
    background-size: contain;
}

.carousel__control:link,
.carousel__control:visited {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(207, 207, 207);
    transition: all .3s;
}

.carousel__control:hover {
    transform: translateY(-3px);
    color: white;
}

.carousel__control--left {
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 2;
}

.carousel__control--right {
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 2;
}

.btn {
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    border: 2px solid transparent;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn--primary {
    background-color: var(--primary-color);
    transition: all .4s;
}

.btn:hover.btn--primary {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: var(--grey-dark-1);
}


/* Producto */

.producto {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, .2);
    width: 20vw;
    height: 20vw;
}

.producto__title {
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    z-index: 2;
}

.producto__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.producto__detalle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.producto__precio {
    display: inline-block;
    color: var(--primary-color-dark);
    font-weight: 500;
    font-size: 1rem;
}


/* Extras */

.input {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.input-group {
    width: 90%;
    color: var(--grey-dark-2);
    border: 1px solid var(--grey-dark-2);
    background-color: var(--grey-light-1);
    border-radius: 5px;
    display: flex;
}

.input-group__icon {
    color: inherit;
    padding: 1rem;
    margin-right: 1rem;
    border-right: 1px solid var(--grey-dark-2);
}

.input-group__input {
    font-family: inherit;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}

.icon {
    font-size: 1.5rem;
}

.pill {
    color: white;
    border-radius: 50px;
    background-color: var(--primary-color-dark);
    padding: 2px 10px;
}

.underlined {
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--grey-dark-1);
}


/* Tipografias */

.heading-secondary {
    color: var(--primary-color);
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0.1em;
}


/* Layout */

.nav {
    background-color: var(--grey-light-2);
    padding: 1rem;
    color: var(--primary-color-dark);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav__logo {
    height: 100%;
}

.nav__search {
    width: 30vw;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__item {
    margin: 10px;
}

.nav__link:link,
.nav__link:visited {
    color: inherit;
    text-decoration: none;
}

.nav__link:hover {
    color: rgb(207, 207, 207);
    text-decoration: none;
}

.form {
    background-color: var(--grey-light-1);
}

.form__header {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form__nombre {
    width: 495px;
    height: 192px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 75.3757px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--primary-color-dark);
}

.form__separador {
    height: 182px;
    width: 5px;
    background-color: var(--primary-color-dark);
}

.form__logo {
    height: 100%;
    margin-right: 100px;
}

.form__content {
    background-color: white;
    padding: 1rem;
    height: 100%;
    margin: 1rem;
    text-align: center;
}


/* Paginas */

.section-destacados {
    padding: 2rem;
}

.productos-destacados {
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
}


/* Footer */

.footer {
    background-color: rgba(0, 0, 0, .05);
    color: white;
    height: auto;
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer span {
    padding: 20px;
}

@media (max-width: 1400px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 700px) {
    .carousel {
        height: 25vh;
    }
    .productos-destacados {
        grid-template-columns: auto;
    }
    .producto {
        margin: .5rem auto;
        width: 100%;
        height: 80vw;
    }
}